<main>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="d-flex">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Search"
        />
      </div>
      <div class="button">
        <button type="submit" class="btn btn-primary ms-3">Search</button>
      </div>
    </div>
    <div class="button">
      <button type="submit" class="btn btn-success ms-3">Add Contact</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center p-2">
            <div class="w-25 h-25 bg-danger rounded-circle overflow-hidden">
              <img
                src="./../../../../assets/images/3135715.png"
                alt="profile-image"
                class="w-100 h-auto"
              />
            </div>
            <div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>amtresh prasad</td>
                  </tr>
                  <tr>
                    <th>Mobile No</th>
                    <td>555555555</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>Jacob@gmail.com</td>
                  </tr>
                  <tr>
                    <th>address</th>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-warning bi bi-eye"></button>
              <button class="btn btn-primary bi bi-pencil mt-2"></button>
              <button class="btn btn-danger bi bi-trash mt-2"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center p-2">
            <div class="w-25 h-25 bg-danger rounded-circle overflow-hidden">
              <img
                src="./../../../../assets/images/3135715.png"
                alt="profile-image"
                class="w-100 h-auto"
              />
            </div>
            <div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>amtresh prasad</td>
                  </tr>
                  <tr>
                    <th>Mobile No</th>
                    <td>555555555</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>Jacob@gmail.com</td>
                  </tr>
                  <tr>
                    <th>address</th>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-warning bi bi-eye"></button>
              <button class="btn btn-primary bi bi-pencil mt-2"></button>
              <button class="btn btn-danger bi bi-trash mt-2"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center p-2">
            <div class="w-25 h-25 bg-danger rounded-circle overflow-hidden">
              <img
                src="./../../../../assets/images/3135715.png"
                alt="profile-image"
                class="w-100 h-auto"
              />
            </div>
            <div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>amtresh prasad</td>
                  </tr>
                  <tr>
                    <th>Mobile No</th>
                    <td>555555555</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>Jacob@gmail.com</td>
                  </tr>
                  <tr>
                    <th>address</th>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-warning bi bi-eye"></button>
              <button class="btn btn-primary bi bi-pencil mt-2"></button>
              <button class="btn btn-danger bi bi-trash mt-2"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center p-2">
            <div class="w-25 h-25 bg-danger rounded-circle overflow-hidden">
              <img
                src="./../../../../assets/images/3135715.png"
                alt="profile-image"
                class="w-100 h-auto"
              />
            </div>
            <div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>amtresh prasad</td>
                  </tr>
                  <tr>
                    <th>Mobile No</th>
                    <td>555555555</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>Jacob@gmail.com</td>
                  </tr>
                  <tr>
                    <th>address</th>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-warning bi bi-eye"></button>
              <button class="btn btn-primary bi bi-pencil mt-2"></button>
              <button class="btn btn-danger bi bi-trash mt-2"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
