<div class="d-flex justify-content-center align-items-center h-100">
  <div class="w-50">
    <h1 class="text-uppercase text-center mb-3">{{ title }} Contact Form</h1>
    <!-- Form start -->
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
      <!-- Upload image -->
      <div class="d-flex justify-content-center align-items-center mb-4">
        <label for="image-upload">
          <div class="position-relative">
            <div
              class="profile-image w-120px h-120px d-flex justify-content-centern overflow-hidden rounded-circle"
            >
              <img
                src="./../../../../assets/images/3135715.png"
                class="img-fluid image object-fit-cover"
                *ngIf="!base64"
              />
              <img [src]="base64" class="img-fluid image object-fit-cover" />
              <div class="middle">
                <div class="text text-nowrap text-dark" *ngIf="!base64">
                  Upload Image
                </div>
              </div>
            </div>
            <img
              src="./../../../assets/images/plush-img.jpg"
              class="position-absolute rounded-4 plush-image w-20px h-20px"
            />
          </div>
        </label>
        <input
          type="file"
          class="d-none"
          id="image-upload"
          (change)="selectImage($event)"
        />
      </div>
      <!--End Upload image -->
      <!-- firstName -->
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter FullName"
          formControlName="fullName"
          [ngClass]="{
            'is-invalid':
              formValidator['fullName'].invalid &&
              (isSubmitted ||
                formValidator['fullName'].touched ||
                formValidator['fullName'].dirty),
            'is-valid':
              formValidator['fullName'].valid &&
              (isSubmitted ||
                formValidator['fullName'].touched ||
                formValidator['fullName'].dirty)
          }"
        />
      </div>
      <!-- FirstName Validation -->
      <div
        *ngIf="
          formValidator['fullName'].invalid &&
          (isSubmitted ||
            formValidator['fullName'].touched ||
            formValidator['fullName'].dirty)
        "
      >
        <div
          *ngIf="formValidator['fullName'].errors?.['required']"
          class="text-danger"
        >
          FullName Is Required
        </div>
      </div>
      <!-- lastName -->
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Mobile No</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Mobile No"
          formControlName="mobilNumber"
          [ngClass]="{
            'is-invalid':
              formValidator['mobilNumber'].invalid &&
              (isSubmitted ||
                formValidator['mobilNumber'].touched ||
                formValidator['mobilNumber'].dirty),
            'is-valid':
              formValidator['mobilNumber'].valid &&
              (isSubmitted ||
                formValidator['mobilNumber'].touched ||
                formValidator['mobilNumber'].dirty)
          }"
        />
      </div>
      <!-- lastName Validation -->
      <div
        *ngIf="
          formValidator['mobilNumber'].invalid &&
          (isSubmitted ||
            formValidator['mobilNumber'].touched ||
            formValidator['mobilNumber'].dirty)
        "
      >
        <div
          *ngIf="formValidator['mobilNumber'].errors?.['required']"
          class="text-danger"
        >
          Mobile No Is Required
        </div>
      </div>
      <!-- email -->
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Email</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              formValidator['email'].invalid &&
              (isSubmitted ||
                formValidator['email'].touched ||
                formValidator['email'].dirty),
            'is-valid':
              formValidator['email'].valid &&
              (isSubmitted ||
                formValidator['email'].touched ||
                formValidator['email'].dirty)
          }"
        />
      </div>
      <!-- email Validation -->
      <div
        *ngIf="
          formValidator['email'].invalid &&
          (isSubmitted ||
            formValidator['email'].touched ||
            formValidator['email'].dirty)
        "
      >
        <div
          *ngIf="formValidator['email'].errors?.['required']"
          class="text-danger"
        >
          Email Is Required
        </div>
      </div>
      <!-- address -->
      <div class="form-group mb-2">
        <label for="exampleFormControlTextarea1 " class="fw-bold"
          >address</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Address"
          formControlName="address"
          [ngClass]="{
            'is-invalid':
              formValidator['address'].invalid &&
              (isSubmitted ||
                formValidator['address'].touched ||
                formValidator['address'].dirty),
            'is-valid':
              formValidator['address'].valid &&
              (isSubmitted ||
                formValidator['address'].touched ||
                formValidator['address'].dirty)
          }"
        ></textarea>
      </div>
      <!-- address validation -->
      <div
        *ngIf="
          formValidator['address'].invalid &&
          (isSubmitted ||
            formValidator['address'].touched ||
            formValidator['address'].dirty)
        "
      >
        <div
          *ngIf="formValidator['address'].errors?.['required']"
          class="text-danger"
        >
          Address Is Required
        </div>
      </div>
      <!-- Button -->
      <div class="d-flex justify-content-end mt-3">
        <button
          type="button"
          class="btn btn-outline-secondary ms-2 px-4 py-2"
          [routerLink]="['/']"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary ms-2 px-4 py-2"
          (click)="formReset()"
        >
          Reset
        </button>
        <button type="submit" class="btn btn-outline-primary ms-2 px-4 py-2">
          save
        </button>
      </div>
    </form>
    <!-- Form End  -->
  </div>
</div>
