<div class="d-flex justify-content-center align-items-center h-100">
  <div class="w-50">
    <h1 class="text-uppercase text-center mb-3">Contact Form</h1>
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
      <div class="d-flex justify-content-center align-items-center mb-4">
        <label for="image-upload">
          <div class="position-relative">
            <div
              class="profile-image w-120px h-120px d-flex justify-content-centern overflow-hidden rounded-circle"
            >
              <img
                src="./../../../../assets/images/3135715.png"
                alt="profile-icon"
                class="img-fluid image object-fit-cover"
              />
              <div class="middle">
                <div class="text text-nowrap text-dark">Upload Image</div>
              </div>
            </div>
            <img
              src="./../../../assets/images/plush-img.jpg"
              class="position-absolute rounded-4 plush-image w-20px h-20px"
            />
          </div>
        </label>
        <input type="file" class="d-none" id="image-upload" />
      </div>
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter FullName"
          formControlName="fullname"
          [ngClass]="{
            'is-invalid':
              formValidator['fullname'].invalid &&
              (isSubmited ||
                formValidator['fullname'].touched ||
                formValidator['fullname'].dirty),
            'is-valid':
              formValidator['fullname'].valid &&
              (isSubmited ||
                formValidator['fullname'].touched ||
                formValidator['fullname'].dirty)
          }"
        />
      </div>
      <div
        *ngIf="
          formValidator['fullname'].invalid &&
          (isSubmited ||
            formValidator['fullname'].touched ||
            formValidator['fullname'].dirty)
        "
      >
        <div
          *ngIf="formValidator['fullname'].errors?.['required']"
          class="text-danger"
        >
          FullName Is Required
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Mobile No</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Mobile No"
          formControlName="mobileno"
          [ngClass]="{
            'is-invalid':
              formValidator['mobileno'].invalid &&
              (isSubmited ||
                formValidator['mobileno'].touched ||
                formValidator['mobileno'].dirty),
            'is-valid':
              formValidator['mobileno'].valid &&
              (isSubmited ||
                formValidator['mobileno'].touched ||
                formValidator['mobileno'].dirty)
          }"
        />
      </div>
      <div
        *ngIf="
          formValidator['mobileno'].invalid &&
          (isSubmited ||
            formValidator['mobileno'].touched ||
            formValidator['mobileno'].dirty)
        "
      >
        <div
          *ngIf="formValidator['mobileno'].errors?.['required']"
          class="text-danger"
        >
          Mobile No Is Required
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="exampleFormControlInput1" class="fw-bold">Email</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter Email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              formValidator['email'].invalid &&
              (isSubmited ||
                formValidator['email'].touched ||
                formValidator['email'].dirty),
            'is-valid':
              formValidator['email'].valid &&
              (isSubmited ||
                formValidator['email'].touched ||
                formValidator['email'].dirty)
          }"
        />
      </div>
      <div
        *ngIf="
          formValidator['email'].invalid &&
          (isSubmited ||
            formValidator['email'].touched ||
            formValidator['email'].dirty)
        "
      >
        <div
          *ngIf="formValidator['email'].errors?.['required']"
          class="text-danger"
        >
          Email Is Required
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="exampleFormControlTextarea1 " class="fw-bold"
          >address</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="Address"
          formControlName="address"
          [ngClass]="{
            'is-invalid':
              formValidator['address'].invalid &&
              (isSubmited ||
                formValidator['address'].touched ||
                formValidator['address'].dirty),
            'is-valid':
              formValidator['address'].valid &&
              (isSubmited ||
                formValidator['address'].touched ||
                formValidator['address'].dirty)
          }"
        ></textarea>
      </div>
      <div
        *ngIf="
          formValidator['address'].invalid &&
          (isSubmited ||
            formValidator['address'].touched ||
            formValidator['address'].dirty)
        "
      >
        <div
          *ngIf="formValidator['address'].errors?.['required']"
          class="text-danger"
        >
          Address Is Required
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <!-- <button type="button" class="btn btn-outline-warning ms-3 px-4 py-2">
          Cencel
        </button> -->
        <button
          type="button"
          class="btn btn-outline-secondary ms-2 px-4 py-2"
          (click)="formReset()"
        >
          Reset
        </button>
        <button type="submit" class="btn btn-outline-primary ms-2 px-4 py-2">
          save
        </button>
      </div>
    </form>
  </div>
</div>
